<div class="jumbotron center" id="teste">
  <div class="container"> 
    <button onclick="window.greet()">Hello Rest</button>
    <button onclick="window.doSomeGet()">teste de GET</button>
  </div>
  <div class="container"> 
    <input id="dado1">
    <input id="dado2">
    <button onclick="window.doMyPost()">Teste de POST</button>
  </div>
</div>