<!DOCTYPE html>
<html>
  <head>
    <title>RestRuby</title>
    <%= csrf_meta_tags %>
    <script>
      var FOO_GET_PATH="<%=@foo_get_path%>"
    </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <span class="tituloDaApp">TESTE DE REST NO RUBY</span>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
